:root {
  --White: hsl(0, 0%, 100%);
  --Stone100: hsl(30, 54%, 90%);
  --Stone150: hsl(30, 18%, 87%);
  --Stone600: hsl(30, 10%, 34%);
  --Stone900: hsl(24, 5%, 18%);
  --Brown800: hsl(14, 45%, 36%);
  --Rose800: hsl(332, 51%, 32%);
  --Rose50: hsl(330, 100%, 98%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  display: flex;
  justify-content: center;
}
main {
  width: 100%;
  margin-bottom: 4em;
  background-color: var(--White);
  border-radius: 10px;
}
.image {
  width: 100%;
  object-fit: cover;
}
.container {
  padding: 0 2em;
}
h1 {
  font-family: "Young Serif", serif;
  margin-top: 1.4em;
  font-weight: 400;
  color: var(--Stone900);
  font-size: 2rem;
}
h1+p {
  color: var(--Stone600);
  margin-top: 1em;
  margin-bottom: 1.4em;
  line-height: 25px;
  font-size: 0.95rem;
}
li,
td {
  color: var(--Stone600);
  font-size: 0.95rem;
}

.Prep {
  margin: 0 0 1.4em 0.3em;
  padding: 1.4em;
  border-radius: 10px;
  background-color: var(--Rose50);
  overflow: auto;
}

.Prep h3 {
  color: var(--Rose800);
}

.Prep li {
  margin-left: 1.8em;
  margin-top: 0.8em;
  padding-left: 1em;
}
.Prep li::marker {
  color: var(--Brown800);
  font-size: 13px;
}
span {
  font-weight: 700;
}
.header2 {
  color: var(--Brown800);
  font-family: "Young Serif";
  font-weight: 400;
  font-size: 1.9rem;
}
#unordered-list li {
  margin-left: 1.5em;
  margin-top: 0.7em;
  padding-left: 1em;
}
#unordered-list li::marker {
  color: var(--Brown800);
  font-size: 13px;
}
hr {
  margin: 1.7em 0;
}
#ordered-list {
  list-style: none;
}
#ordered-list li {
  margin-left: 1.4em;
  margin-top: 0.7em;
  padding-left: 1em;
  line-height: 25px;
}
#ordered-list li::marker {
  color: var(--Brown800);
  content: counter(list-item) ". ";
  font-weight: bold;
  padding-right: 20px;
}
#nutrition {
  margin: 1em 0 0.7em 0;
}
#nutrition+p{
    color: var(--Stone600);
    line-height: 25px;
    font-size: 0.95rem;
    margin-bottom: 0.9em;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table td {
  border: none;
  border-bottom: 1px solid var(--Stone150);
  text-align: left;
  padding: 0.6em 0 0.7em 1.7em;
}
tr:last-of-type td {
  border: none;
}
.value {
  color: var(--Brown800);
  font-weight: 700;
}
@media (min-width: 426px) {
  body {
    background-color: var(--Stone100);
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding-top: 5em;
  }
  main {
    max-width:600px;
    padding: 1.8em;
  }
  .image {
    border-radius: 10px;
  }
  .container {
    padding: 0;
    margin: 0;
  }
}
